<p>edits works!</p>

<h2>Edit User</h2>

<form [formGroup]="form" (ngSubmit)="editUser()">
  <div class="form-group">
    <label for="id"> ID </label>
    <input type="text" class="form-control" formControlName="id" />
  </div>
  <div class="form-group">
    <label for="name"> Name </label>
    <input type="text" class="form-control" formControlName="name" />
  </div>
  <div class="form-group">
    <label for="username"> Username </label>
    <input type="text" class="form-control" formControlName="username" />
  </div>
  <div class="form-group">
    <label for="phone"> Phone </label>
    <input type="text" class="form-control" formControlName="phone" />
  </div>
  <button type="submit" class="btn btn-success">EDIT</button>
  <button type="button" class="btn btn-danger" (click)="goToUsers()" >CANCEL</button>
</form>
