form {
  border: rgb(92, 92, 92) 1px solid;
  border-radius: 5px;
  box-shadow: 10px 5px 5px rgb(102, 101, 101);
  width: 50%;
  margin: 0 auto;
  padding: 20px;
}

button {
  margin: 15px 3px;
}

h2 {
  text-align: center;
}
