<h2>Add a new user</h2>

<form (ngSubmit)="newUser()" [formGroup]="form">
  <div class="form-group">
    <label for="id"> ID </label>
    <input type="text" class="form-control" formControlName="id" />
  </div>
  <div class="form-group">
    <label for="name"> Name </label>
    <input type="text" class="form-control" formControlName="name" />
  </div>
  <div class="form-group">
    <label for="username"> Username </label>
    <input type="text" class="form-control" formControlName="username" />
  </div>
  <div class="form-group">
    <label for="phone"> Phone </label>
    <input type="text" class="form-control" formControlName="phone" />
  </div>
  <button type="submit" class="btn btn-success">SEND</button>
  <button type="button" class="btn btn-danger" (click)="refresh()">
    CANCEL
  </button>
</form>
