<h3>{{ entrada }}</h3>

<ul>
  <li *ngFor="let user of userList">{{ user.id }} - {{ user.name }}</li>
</ul>

<!-- Add User Button -->
<button mat-raised-button color="primary" (click)="goToAddUser()">
  + New user
</button>

<table
  mat-table
  [dataSource]="userList"
  class="mat-elevation-z8"
  style="width: 50%; margin: auto"
>
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Username Column -->
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef>Username</th>
    <td mat-cell *matCellDef="let element">{{ element.username }}</td>
  </ng-container>

  <!-- Phone Column -->
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef>Phone</th>
    <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="accent">
        <mat-icon (click)="goToEdit(element.id)">edit</mat-icon>
      </button>
      <button mat-icon-button color="warn">
        <mat-icon (click)="deleteUser(element.id)">delete</mat-icon>
      </button>
      <button mat-icon-button color="secondary">
        <mat-icon (click)="detailsUser(element)">visibility</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
